div(ng-show='show_director')
  .row
    highchart.col-lg-12(config='config' )
  .row
    p.text-center(style='white-space:pre;')
      | Average rating of {{(director.avg_rating).toFixed(2)}}/10 based on {{numberWithCommas(director.total_votes)}} votes for {{director.movies.length}} movies <br>
      | Share this page on: 
      a(href='http://twitter.com/share?text=Check+out+this+visualization+of+{{director.name}}+movies!' target='_blank')
        i.fa.fa-twitter

img(ng-repeat='poster in posters' ng-src='{{poster}}' ng-show='false')

