.row
  highchart.col-lg-12(config='config' style='height: 600px')
.row
  h1.text-center {{director.name}}
  p.text-center(style='white-space:pre;')
    | Average rating of {{(director.avg_rating).toFixed(2)}}/10 based on {{numberWithCommas(director.total_votes)}} votes for {{director.movies.length}} movies
    | Share this page on:
                                         
